<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!--=============== FAVICON ===============-->
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#a789d4">

    <!--=============== BOXICONS ===============-->
    <link href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css' rel='stylesheet'>

    <!--=============== SWIPER CSS ===============-->
    <link rel="stylesheet" href="static/assets/css/swiper-bundle.min.css">

    <!--=============== CSS ===============-->
    <link rel="stylesheet" href="static/assets/css/styles.css">

    <title> Saransh's Portfolio </title>
</head>

<body>
    <!--=============== HEADER ===============-->
    <header class="header" id="header">
        <nav class="nav container">
            <a href="#" class="nav__logo">Saransh</a>



            <!--=============== theme change button ===============-->
            <i class='bx bx-moon change-theme change-theme-button' id="theme-button"></i>

        </nav>
    </header>


        <!--=============== CONTACT ===============-->
        <section class="contact section" id="contact">
            <span class="section__subtitle">Welcome Sir !</span>
            <h3 class="section__title">Admin SignUp</h3>

            <div class="contact__container container grid">
                <div class="contact__content">


                <div class="contact__content">
                    <h3 class="contact__title contact__title-form">Enter Your Credentials</h3>

                    <form action="/signup" class="contact__form" method="post">
                        <div class="contact__form-div">
                            <label for="name" class="contact__form-tag">Name</label>
                            <input id="name" type="text" placeholder="Enter your name" class="contact__form-input" name="name">
                        </div>

                        <div class="contact__form-div">
                            <label for="email" class="contact__form-tag">Mail</label>
                            <input id="email" type="email" placeholder="Enter email" class="contact__form-input" name="email">
                        </div>

                        <div class="contact__form-div">
                            <label for="password" class="contact__form-tag">Password</label>
                            <input id="password" type="password" placeholder="Enter your password" class="contact__form-input" name="password">
                        </div>


                        <button type="submit" class="button">
                            Sign Up
                        </button>
                    </form>
                </div>
                </div>
            </div>

        </section>


    <!--=============== FOOTER ===============-->
    <footer class="footer">
        <div class="footer__container container">
            <h1 class="footer__title">Hailee</h1>

            <ul class="footer__list">

                <li class="footer__item">
                    <a href="#" class="footer__link">Home</a>
                </li>
                <li class="footer__item">
                    <a href="#about" class="footer__link">About</a>
                </li>
                <li class="footer__item">
                    <a href="#skills" class="footer__link">Skills</a>
                </li>
                <li class="footer__item">
                    <a href="#work" class="footer__link">Work</a>
                </li>
                <li class="footer__item">
                    <a href="#contact" class="footer__link">Contact</a>
                </li>
            </ul>

            <ul class="footer__social">
                <li class="footer__social-item">
                    <a href="#" target="_blank" class="footer__social-link">
                        <i class='bx bxl-facebook footer__social-icon'></i>
                    </a>
                </li>
                <li class="footer__social-item">
                    <a href="#" target="_blank" class="footer__social-link">
                        <i class='bx bxl-twitter footer__social-icon'></i>
                    </a>
                </li>
                <li class="footer__social-item">
                    <a href="#" target="_blank" class="footer__social-link">
                        <i class='bx bxl-linkedin footer__social-icon'></i>
                    </a>
                </li>
                <li class="footer__social-item">
                    <a href="#" target="_blank" class="footer__social-link">
                        <i class='bx bxl-instagram footer__social-icon'></i>
                    </a>
                </li>
            </ul>

            <span class="footer__copy">
                &#169; Saransh Bari 2024. All rights reserved.
            </span>
        </div>
    </footer>

    <!--=============== SCROLLREVEAL ===============-->

    <!-- <script src="static/assets/js/scrollreveal.min.js"></script> -->
    <script src="https://unpkg.com/scrollreveal/dist/scrollreveal.min.js"></script>

    <!--=============== SWIPER JS ===============-->
    <script src="static/assets/js/swiper-bundle.min.js"></script>

    <!--=============== MIXITUP FILTER ===============-->
    <script src="static/assets/js/mixitup.min.js"></script>

    <!--=============== MAIN JS ===============-->
    <script src="static/assets/js/main.js"></script>
</body>

</html>
